<div>
   <div class="card card-body">
      <div class="flex items-center justify-center">
         <div class="bg-gray-800 p-6 rounded-lg shadow-lg max-w-md w-full">
            <div class="text-left">
                  <div class="text-xl mb-3 underline underline-offset-4">通常の時間計算</div>
                  <div class="text-xl text-white mb-1">寿命：あと <%= @lifespan %> 年</div>
                  <div class="text-xl text-white mb-1">人生の経過率：<%= @lifespan_progress_rate %> %</div>
                  <div class="text-xl mb-3 underline underline-offset-4">
                     <svg class="w-20 h-20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
                  </div>
                  <div class="text-xl mb-3 underline underline-offset-4">現在の体感時間を元に算出</div>
                  <div class="text-yellow-500 text-xl mb-1 animate-fade-in-fwd">体感寿命：あと <%= @perceived_lifespan %> 年</div>
                  <div class="text-yellow-500 text-xl mb-1 animate-fade-in-fwd">人生の体感経過率：<%= @perceived_lifespan_progress_rate %> %</div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="flex justify-center mb-10 min-h-screen">
      <button class="btn btn-outline btn-info rounded-md" onclick="my_modal_1.showModal()">Xでシェアする</button>
      <dialog id="my_modal_1" class="modal">
         <div class="modal-box">
            <h3 class="font-bold text-lg">年齢について</h3>
               <p class="py-4">
                  Xシェア時は、体感の寿命・経過率のみシェアされます。<br><br>
                  よって、第三者があなたの現在の年齢を特定することは困難です。<br><br>
                  ですが、概算ができてしまう可能性がありますので、気になる方はシェアをお控えください。
               </p>
            <div class="modal-action">
               <form method="dialog">
                  <%# Xシェアボタン %>
                  <button class="btn">
                     <div class="twitter">
                        <%= link_to "https://twitter.com/intent/tweet?url=#{request.base_url}&text=#{ERB::Util.url_encode("【体感寿命、測ります】\n\nあなたの体感寿命は残り「#{@perceived_lifespan}年」\n人生の体感経過率は「#{@perceived_lifespan_progress_rate}%」です\n\n\n#体感寿命測ります\n\nサイトURL\n")}", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
                        <i class="fab fa-twitter"></i>Xでシェアする
                        <% end %>
                     </div>
                  </button>
                  <%# 戻るシェアボタン %>
                  <button class="btn">
                     <div>戻る</div>
                  </button>
               </form>
            </div>
         </div>
      </dialog>
   </div>


   
</div>


