<!DOCTYPE html>
<html data-theme=business>
  <head>
    <%# googleフォント読み込み %>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');
      /* 円グラフ用CSS設定 */
      .pie {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background: conic-gradient(
          #af0082 0%,
          #af0082 var(--percentage),
          #192f60 var(--percentage),
          #192f60 100%
        );
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        color: white;
      }
    </style>

    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>

    <title>体感寿命、測ります</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="font-body-jp">
      <%= render 'shared/header' %>
      <%= render 'shared/flash' %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
