<!DOCTYPE html>
<html data-theme=business>
  <head>
    <%# googleフォント読み込み %>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');
      /* 円グラフ用CSS設定 */
      .pie {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background: conic-gradient(
          #ff1493 0%,
          #ff1493 var(--percentage),
          #c0c0c0 var(--percentage),
          #c0c0c0 100%
        );
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        color: white;
      }
    </style>

    <%# ファビコン導入 %>
    <%= favicon_link_tag image_path('time_woman.png'), type: 'image/png' %>

    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>

    <title>体感寿命、測ります</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <%# XのOGP表示 %>
    <meta name=”twitter:card” content=”summary_large_image” />
    <meta name=”twitter:site” content=”@tripletsuper11” />
    <meta name=”twitter:domain” content=”taikan-jumyou.onrender.com” />
    <meta name=”twitter:title” content=”体感寿命、測ります” />
    <meta name=”twitter:description” content=”あなたの年齢から、体感寿命を計測します。” />
    <meta name=”twitter:image” content="<%= asset_url('ogp.png') %>" />

  </head>

  <body>
    <div class="font-body-jp">
      <%= render 'shared/header' %>
      <%= render 'shared/flash' %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
